<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688561891601-vkg9ed5oqsm3qd9r6k3cqnemsf5qu3ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688561891601-vkg9ed5oqsm3qd9r6k3cqnemsf5qu3ro</string>
	<key>API_KEY</key>
	<string>AIzaSyAjydQDoeMx05qb-aUmT2llJF0N6RgC0V4</string>
	<key>GCM_SENDER_ID</key>
	<string>688561891601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ClownTeam.QvdChat</string>
	<key>PROJECT_ID</key>
	<string>chat-572a6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-572a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688561891601:ios:231dc5dfb5075c832f44b0</string>
</dict>
</plist>